@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: url(jett.jpg)no-repeat;
    background-size: cover;
    background-position: center;
}

header{
    position: relative;
    top:0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    position: relative;
    color:azure;
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
}

header .navigation a{
    color:blue;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 2px 15px;
    border-radius: 20px;
    transition: 0.3s;
    transition-property: background;
}

header .navigation a:not(:last-child){
    margin-right: 30px;
}

header .navigation a:hover{
    background: #fff;
}

.content{
    max-width: 650px;
    margin: 60px 100px;

}

.content .info h2{
    color: aqua;
    font-size: 55px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 60px;
    margin-bottom: 30px;
}

.content .info h2 span{
    color:#fff;
    font-size: 50px;
    font-weight: 600;

}

.content .info p{
    font-size:16px;
    font-weight: 500;
    margin-bottom: 40px;
}

.content .info-btn{
    color:#fff;
    background: #226A80;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.3s;
    transition-property: background;
}

.content .info-btn:hover{
    background: #0C4F60;
}

.grid-container {
    flex-wrap: wrap;
    padding: 64px;
}

.grid-container h3{
    font-size: 36px;
    font-weight: bolder;
    text-align: center;

}

.grid {
    display:flex;
    justify-content: space-around;
    gap:32px;
    flex-flow: row wrap;
}



.game {
    max-width: 150px;
    color: #1f293700;
    transition:ease-in .7s;
}

.game:hover {
    color: #f9faf8;
}
.game-content {
    width:144px;
    height:144px;
    /* border: 3px solid #f7601b; */
    background-image: url(logo.jpg);
    background-size: cover;
    border-radius: 20px;
    transition: ease 0.1s;
}

.game-content:hover {
    transform:scale(1.05);
}

.art {
    max-width: 150px;
    color: #1f293700;
    transition:ease-in .7s;
}

.art:hover {
    color: #f9faf8;
}
.art-content {
    width:144px;
    height:144px;
    /* border: 3px solid #f7601b; */
    background-image: url(reyna.jpeg);
    background-repeat: no-repeat;
    background-size: 144px 144px;
    border-radius: 20px;
    transition: ease 0.1s;
}

.art-content:hover {
    transform:scale(1.05);
}

.merch {
    max-width: 150px;
    color: #1f293700;
    transition:ease-in .7s;
}

.merch:hover {
    color: #f9faf8;
}
.merch-content {
    width:144px;
    height:144px;
    /* border: 3px solid #f7601b; */
    background-image: url(merch.jpg);
    background-repeat: no-repeat;
    background-size: 144px 144px;
    border-radius: 20px;
    transition: ease 0.1s;
}

.merch-content:hover {
    transform:scale(1.05);
}

.figurines {
    max-width: 150px;
    color: #1f293700;
    transition:ease-in .7s;
}

.figurines:hover {
    color: #e1dfe9;
}
.figurines-content {
    width:144px;
    height:144px;
    /* border: 3px solid #f7601b; */
    background-image: url(figurines.jpeg);
    background-size: cover;
    border-radius: 20px;
    transition: ease 0.1s;
}

.figurines-content:hover {
    transform:scale(1.05);
}

.quote {
    padding:80px 35%;
    background: url(jett.jpg) no-repeat center center fixed;
    background-size: cover;
    font-size: 36px;
    font-weight:lighter;
    font-style:oblique;
    color:#1F2937;
    text-shadow: 0 0 5px #f9faf8,
    0 0 15px #f9faf8,
    0 0 30px #f9faf8;
}

.quote p{
    mix-blend-mode: difference;
}

.author {
    display: flex;
    flex-direction: row-reverse;
    font-size: 24px;
    font-weight: 800;
}

.sign-up-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:32px;
    padding:36px;
    background-color: transparent;
    border-radius: 5px;
    margin:100px auto;
    color: #f4f4f8;
    flex-flow: row wrap;
    
}

.sign-up-section button {
    border: 2px solid #f0f7f5;
    font-style: italic;
    font-weight: lighter;
    mix-blend-mode:luminosity;
}

button:hover {
    background-color: #f0edeb;
    color: #3f3cf1;
}

.sign-up-section p {
    margin:0px;
    font-style: italic;
    font-weight: lighter;
    mix-blend-mode:luminosity;
}

.media-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.media-icons a{
    position: relative;
    color:bisque;
    font-size: 25px;
    transition: 0.4s;
    transition-property: transform;
}

.media-icons a:not(:last-child){
    margin-right: 60px;
}

.media-icons a:hover{
    transform: scale(1.5);
}

